@import './global.css';
@import './header.css';
@import './introducao.css';
@import './experiencia.css';
@import './formacao.css';
@import './footer.css';
@import './grid.css';

@keyframes move-right {
  from {
    transform: translateX(-100%);
  }
}

main h1 {
  animation: move-right 2s;
}

@keyframes move-left {
  from {
    transform: translateX(100%);
  }
}

main p,
main img {
  animation: move-left 2s;
}

@keyframes move-down {
  from {
    transform: translateY(-100%);
  }
}

header img {
  animation: move-down 2s;
}

@keyframes move-up {
  from {
    transform: translateY(100%);
  }
}

header img,
header ul li a {
  animation: move-up 2s;
}

@keyframes rotacionar {
  from {
    transform: rotateZ(-8deg);
  }
}

main a {
  animation: rotacionar 2s;
}

@keyframes teste {
  from {
    transform: translate3d();
  }
}

html.light {
  --text-color: hsl(var(--hue), 5%, 7%);
  --bg-color: hsl(var(--hue), 40%, 98%);
}

html.light body {
  background-color: white;
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

html.light a {
  color: rgb(0, 0, 0);
}

html.light p {
  color: rgb(0, 0, 0);
}

html.light .formacao-texto {
  color: white;
}
html.light .formacao-texto strong {
  color: rgb(0, 255, 242);
}

html.light .experiencia h2 {
  color: black;
}

html.light footer p {
  color: white;
}

button {
  background-color: transparent;
  border: 0;
}

html.light footer a {
  color: white;
}

#toggle-mode {
  position: absolute;
  right: 0rem;
  top: 0rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
}
